body {
    margin: 0;
    font-family: sans-serif;
}

img {
    max-width: 100%;
}


.logo-container {
    display: grid;
    place-items: center;
    padding: 1rem;
}

.logo-container img {
    width: 200px;
    height: 200px;
}

.login-container {
    background: #353744;
}

.login-form {
    background: white;
    border-top-right-radius: 20% 20%;
    padding-top: 1rem;
    padding-inline: 2rem;
}

.login-form h1 {
    text-align: center;
}

.login-form button {
    display: block;
    width: 100%;
    padding: .7rem;
    font-size: 14px;
    background: black;
    color: white;
    border-radius: .2rem;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
}

.login-form a {
    display: block;
    text-align: center;
    text-decoration: none;
}

.field-container {
    display: grid;
    grid-auto-flow: row;
}

.field-container label {
    text-transform: uppercase;
    font-size: 12px;
}

.field-container input {
    padding-inline: .5rem;
    padding-block: .7rem;
    border-radius: .2rem;
    border: none;
    background: #c9c8c8;
    margin-bottom: 1rem;
    font-size: 1rem;
}

@media (min-width: 500px) {
    .full-size-container {
        height: 100vh;
        display: grid;
        place-items: center;
    }

    .login-container {
        width: 400px;
    }
}

.cashier-wrapper {
    padding: 2rem;
}

.head-bang {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

.cashier-container-grid {
    display: grid;
    grid-template-columns: 1fr .5fr;
    gap: 2.5rem;
}

.cashier-info-container {
    display: flex;
    justify-content: space-between;
}

.action-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.action-container button {
    padding-block: .7rem;
    padding-inline: 1rem;
    cursor: pointer;
}

.cashier-log-container {
    grid-column: 1 / 2;
}

.cashier-info-field {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.cashier-info-field div {
    background: orange;
}

.cashier-info-field div input {
    font-size: 16px;
    padding-block: .2rem;
    border: none;
    background: none;
}

.cashier-info-field.bayar div {
    background: initial;
}

.cashier-info-field.bayar div input {
    background: initial;
    border: 1px solid black;
}

.cashier-info-field:not(:last-child) {
    margin-bottom: .2rem;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 100%;
}

.table-row-log {
    text-align: center;
}

.table-row-log:nth-child(odd) {
    background: rgba(211, 209, 209, 0.95);
}

.table-row-log-heading {
    background: black;
    color: white;
}

.fw-input {
    width: calc(100% - .5rem);
    font-size: 1rem;
}

.select-input {
    width: 100%;
    font-size: 16px;
}

.table-input-caption {
    background: #01c401;
}

.grayish {
    background: rgba(211, 209, 209, 0.95);
}

.right-text {
    text-align: right;
}

.table-input-action-container {
    padding: 1rem;
    text-align: right;
}

.table-input-action-container button {
    padding-inline: 2rem;
    padding-block: .7rem;
    cursor: pointer;
}

.invoice-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invoice-title-container {
    display: flex;
    justify-content: center;
    flex: 1;
}

.invoice-container {
    padding: 2rem;
}

.invoice-footer {
    padding: 1rem;
}

.invoice-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.centered-text {
    text-align: center;
}
